* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f3f1ea;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  border-bottom: #0a3a2a;
}

.navbar .logo img {
  width: 100px;
  cursor: pointer;
}

.menu-links ul {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 40px;
  list-style: none;
}

.menu-links ul li {
  text-align: center;
}

.menu-links ul li a {
  text-decoration: none;
  color: inherit;
}

.login-button button {
  width: 120px;
  padding: 15px 10px;
  border-radius: 15px;
  background-color: #0a3a2a;
  color: #f3f1ea;
  font-weight: 500;
  font-size: 14px;
}

.hero-section {
  height: 100vh;
  background-image: url("images/plantation.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
}

.hero-info h1 {
  font-size: 100px;
  font-weight: 600;
  color: #f3f1ea;
  margin-bottom: 40px;
}

.hero-info p {
  font-size: 50px;
  font-weight: 300;
  color: #333;
  margin-bottom: 80px;
}

.primary-btn {
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  background: #0a3a2a;
  color: #f3f1ea;
  cursor: pointer;
  font-weight: 600;
  margin-right: 50px;
}

.secondary-btn {
  padding: 15px 30px;
  border: 2px solid white;
  border-radius: 10px;
  background: transparent;
  color: #f3f1ea;
  cursor: pointer;
  font-weight: 600;
}
