:root{
    --primary:#2E7D32;
    --background:#f5f7fa;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url(images/iriaini.png);
}

.form-card{
    padding:35px;
    border-radius:12px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

h2{
    color:var(--primary);
}

.btn-custom{
    background:var(--primary);
    color:white;
}

.btn-custom:hover{
    background:#256428;
    color:white;
}

.error{
    color:red;
    font-size:.85rem;
}

.success{
    color:green;
    margin-top:15px;
    text-align:center;
}

.focused{
    background:#f8fff8;
}